<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Extensions\Application;PublicAssemblies;PrivateAssemblies;CommonExtensions\Platform;CommonExtensions\Microsoft\Editor;CommonExtensions\Platform\Debugger;Mashup"/>
      <!-- SSMS-specific binding redirections -->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="10.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="3.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>

      <!-- Query Tuning Advisor related binding redirections-->
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf.Common" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ServiceBrokerEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlClrProvider" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SmoMetadataProvider" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfoExtended" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.GridControl" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SqlParser" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-16.0.0.0" newVersion="16.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.OlapEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.AzureStorageEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.RegSvrEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.PolicyEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SmoExtended" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.WmiEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlWmiManagement" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Utility" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.UtilityEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.MultiServerConnection" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.RegisteredServers" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Collector" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.CollectorEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEvent" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEventEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEventDbScoped" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.XEventDbScopedEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="microsoft.sqlserver.batchparser" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.BatchParserClient" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Diagnostics.STrace" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SqlTDiagM" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.SString" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.HadrDmf" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Dmf" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.100.0.0" newVersion="16.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.SqlWizardFramework" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlTools.Telemetry.Interop" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.HelpViewer" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ExceptionMessageBox" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.NetEnterpriseServers.ExceptionMessageBox" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.CustomControls" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.WizardFramework" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.DlgGrid" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.DataStorage" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.IntegrationServicesEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Rmo" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ReplEnum" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Replication" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.XEvent.Linq" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.XE.Core" publicKeyToken="89845dcd8080cc91"/>
        <bindingRedirect oldVersion="14.0.0.0-15.0.0.0" newVersion="15.100.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>