<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:background-color="http://www.w3.org/1999/xhtml"
	  xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">


    <title>Unstar</title>

	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='Favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/unstar.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven Pro">
     <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- these 2 below-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--these 2 above-->

	 <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- new Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- end of these last 2 above ha ha haaa -->



<!-- These 2 lines below i had to put for the Accrdion to show up. the Scwenga Accordion was not working here -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
	<!-- These 2 lines above i had to put for the Accrdion to show up. the Scwenga Accordion was not working here -->



	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type=text/javascript> $(function() { $("#mybutton").click(function (event) { $.getJSON('/getFridgeMsg', { },
    function(data) { }); return false; }); }); </script>


</head>
<body>

              <header>
                <div class="container" id="container header">

                   <a href="{{ url_for('home') }}" class="nav-item nav-link"><img class="img-responsive" id="first" src="{{url_for('static', filename='mainlogo4.PNG')}}"></a>

                      <div class="menu">
						     <a href="{{ url_for('home') }}" class="nav-item nav-link"><img class="img-responsive" id="HomeFromSC" src=""><i class="bi-house-fill fa-3x"></i></a>
                      </div>

				</div>
			  </header>

			      <div class="container header">
                     {% block content %}
                     {% endblock %}
                  </div>

              <hr>
              <img class="img-responsive kc" src="{{url_for('static', filename='unstar_lg.PNG')}}">

        <br>
		<br>


                                                                                          <!-- Below is that AWESOME modal

																									<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
																										  <div class="modal-dialog modal-confirm">
																											   <div class="modal-content">
																													<div class="modal-header">
																														  <div class="icon-box">
																															   <i class="material-icons">&#xE876;</i>
																														  </div>
																														  <h4 class="modal-title w-100">Enkosi!</h4>
																													</div>
																													<div class="modal-body">
																														 <p class="text-center">Your message has been sent to <br>SASSY BAGS & SHOES.</p>
																													</div>
																													<div class="modal-footer">
																														<input name="addMsg" type="submit" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal" value="Expect a reply on your cell asap, OK">
																													</div>
																											   </div>
																										  </div>
																									</div>-->




		<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2>Trending <b>Products</b></h2>
						<!--<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">-->
						<!-- Carousel indicators
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>
						<!-- Wrapper for carousel items
						<div class="carousel-inner">
							<div class="item carousel-item active">-->

						<br>
						<br>
						        <!--      All 4 items will be on the below Row     ---->
								<div class="row">
									<!--    info for 1st (left and side) item (bag)    ---->
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<div class="img-box">
												<img class="img-responsive kc" src="{{url_for('static', filename='ree1.PNG')}}">
											</div>
											<div class="thumb-content" align="center">
												<h4>SABATA Vintage-99 <br><small class="text-muted">Size [S] - 1 item left</small></h4>
												<p class="item-price"><strike>R990.00</strike> <span>R499.00</span></p>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<button type="button" class="btn btn-primary btn-rounded" id="btn-buy1" data-bs-toggle="collapse" data-bs-target="#myCollapse"><i class="bi-credit-card fa-lg"></i>&ensp;BUY</button>

																	 <div class="collapse" id="myCollapse">

																						<div class="card">
																							<div class="card card-body" style="font-family: Maven Pro;">
																								<div class="media">
																								<div class="media-body">
																										<h5 class="mt-0">&ensp; &ensp; <b>SEND UNSAR A MESSGE</b></h5>
																										<hr>
																										<br>

																										<form name ="herForm" action="/Unstar" method="post">

																												  <label for="fname">Name:</label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="fname" name="fname" size="18"><br><br>

																												  <label for="Cnum">Cell number:</label>&ensp;
																												  <input type="text" id="Cnum" name="Cnum" size="18"><br><br>

																												  <label for="Cloc">Location:</label>&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="Cloc" name="Cloc" size="18"><br><br>

																												  <label for="Fmsg">Message:</label>&ensp;&ensp;&ensp;&ensp;
																												  <textarea id="myChat" rows="4" cols="17" name="Fmsg" placeholder="I want to hire the fridge, please call me back">I want to buy the ABATA Vintage-99 t-shirt, please call me back</textarea><br><br>
																												  <textarea hidden="hidden" id="MsgOwn" rows="1" cols="1" name="MsgOwner">5</textarea><br>
																												  <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal"><i class="bi-chat-text"></i>&ensp;Send Message</button>


																												  <!-- Below is that AWESOME modal-->

																															<div class="modal fade in" id="myModal" tabindex="-1">
																																  <div class="modal-dialog modal-confirm">
																																	   <div class="modal-content">
																																			<div class="modal-header">
																																				  <div class="icon-box">
																																					   <i class="material-icons">&#xE876;</i>
																																				  </div>
																																				  <h4 class="modal-title w-100">Enkosi!</h4>
																																			</div>
																																			<div class="modal-body">
																																				 <p class="text-center">Your message has been sent to <br>UNSTAR WEAR.</p>
																																			</div>
																																			<div class="modal-footer">
																																				<input name="addMsg" type="submit" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal" value="Expect a reply on your cell asap, OK">
																																			</div>
																																	   </div>
																																  </div>
																															</div>
																										</form>

																									</div>
																							  </div>
																							</div>
																						</div>

																	 </div>

											</div>
										</div>
										<hr>


									</div>
									<!--</div>-->
						             <!-- end of 1st Item --->

						             <!--    info for 2nd item (bag)    ---->
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<div class="img-box">
												<img class="img-responsive kc" src="{{url_for('static', filename='ree2.PNG')}}">
											</div>
											<div class="thumb-content" align="center">
												<h4>LOUIS VUITTON man's sneaker <br><small class="text-muted">Size[7] - 1 item left</small></h4>
												<p class="item-price"><strike>R8650.00</strike> <span>R1500.00</span></p>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<button type="button" class="btn btn-primary btn-rounded" id="btn-buy1" data-bs-toggle="collapse" data-bs-target="#myCollapseC"><i class="bi-credit-card fa-lg"></i>&ensp;BUY</button>

																	 <div class="collapse" id="myCollapseC">

																						<div class="card">
																							<div class="card card-body" style="font-family: Maven Pro;">
																								<div class="media">
																								<div class="media-body">
																										<h5 class="mt-0">&ensp; &ensp; <b>SEND UNSTAR A MESSGE</b></h5>
																										<hr>
																										<br>

																										<form name ="herForm" action="/Sassy" method="post">

																												  <label for="fname">Name:</label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="fname" name="fname" size="18"><br><br>

																												  <label for="Cnum">Cell number:</label>&ensp;
																												  <input type="text" id="Cnum" name="Cnum" size="18"><br><br>

																												  <label for="Cloc">Location:</label>&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="Cloc" name="Cloc" size="18"><br><br>

																												  <label for="Fmsg">Message:</label>&ensp;&ensp;&ensp;&ensp;
																												  <textarea id="myChat" rows="4" cols="17" name="Fmsg" placeholder="I want to hire the fridge, please call me back">I want to buy the LOUIS VUITTON sneaker, please call me back</textarea><br><br>
																												  <textarea hidden="hidden" id="MsgOwn" rows="1" cols="1" name="MsgOwner">5</textarea><br>
																												  <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModalB"><i class="bi-chat-text"></i>&ensp;Send Message</button>


																												  <!-- Below is that AWESOME modal-->

																															<div class="modal fade in" id="myModalB" tabindex="-1">
																																  <div class="modal-dialog modal-confirm">
																																	   <div class="modal-content">
																																			<div class="modal-header">
																																				  <div class="icon-box">
																																					   <i class="material-icons">&#xE876;</i>
																																				  </div>
																																				  <h4 class="modal-title w-100">Enkosi!</h4>
																																			</div>
																																			<div class="modal-body">
																																				 <p class="text-center">Your message has been sent to <br>UNSTAR WEAR.</p>
																																			</div>
																																			<div class="modal-footer">
																																				<input name="addMsg" type="submit" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal" value="Expect a reply on your cell asap, OK">
																																			</div>
																																	   </div>
																																  </div>
																															</div>
																										</form>

																									</div>
																							  </div>
																							</div>
																						</div>

																	 </div>

											</div>
										</div>
										<hr>


									</div>
									<!--</div>-->
						             <!-- end of 2nd Item --->
									<!--    info for 3rd item (bag)    ---->
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<div class="img-box">
												<img class="img-responsive kc" src="{{url_for('static', filename='ree3.PNG')}}">
											</div>
											<div class="thumb-content" align="center">
												<h4>LOUIS VUITTON man's belt <br><small class="text-muted">1 item left</small></h4>
												<p class="item-price"><strike>R4990.00</strike> <span>R990.00</span></p>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<button type="button" class="btn btn-primary btn-rounded" id="btn-buy1" data-bs-toggle="collapse" data-bs-target="#myCollapseD"><i class="bi-credit-card fa-lg"></i>&ensp;BUY</button>

																	 <div class="collapse" id="myCollapseD">

																						<div class="card">
																							<div class="card card-body" style="font-family: Maven Pro;">
																								<div class="media">
																								<div class="media-body">
																										<h5 class="mt-0">&ensp; &ensp; <b>SEND UNSTAR A MESSGE</b></h5>
																										<hr>
																										<br>

																										<form name ="herForm" action="/Sassy" method="post">

																												  <label for="fname">Name:</label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="fname" name="fname" size="18"><br><br>

																												  <label for="Cnum">Cell number:</label>&ensp;
																												  <input type="text" id="Cnum" name="Cnum" size="18"><br><br>

																												  <label for="Cloc">Location:</label>&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="Cloc" name="Cloc" size="18"><br><br>

																												  <label for="Fmsg">Message:</label>&ensp;&ensp;&ensp;&ensp;
																												  <textarea id="myChat" rows="4" cols="17" name="Fmsg" placeholder="I want to hire the fridge, please call me back">I want to buy the LOUIS VUITTON belt, please call me back</textarea><br><br>
																												  <textarea hidden="hidden" id="MsgOwn" rows="1" cols="1" name="MsgOwner">5</textarea><br>
																												  <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModalC"><i class="bi-chat-text"></i>&ensp;Send Message</button>


																												  <!-- Below is that AWESOME modal-->

																															<div class="modal fade in" id="myModalC" tabindex="-1">
																																  <div class="modal-dialog modal-confirm">
																																	   <div class="modal-content">
																																			<div class="modal-header">
																																				  <div class="icon-box">
																																					   <i class="material-icons">&#xE876;</i>
																																				  </div>
																																				  <h4 class="modal-title w-100">Enkosi!</h4>
																																			</div>
																																			<div class="modal-body">
																																				 <p class="text-center">Your message has been sent to <br>UNSTAR WEAR.</p>
																																			</div>
																																			<div class="modal-footer">
																																				<input name="addMsg" type="submit" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal" value="Expect a reply on your cell asap, OK">
																																			</div>
																																	   </div>
																																  </div>
																															</div>
																										</form>

																									</div>
																							  </div>
																							</div>
																						</div>

																	 </div>

											</div>
										</div>
										<hr>


									</div>
									<!--</div>-->
						             <!-- end of 3rd Item --->

									<!--    info for 4th item (bag)    ---->
									<div class="col-sm-3">
										<div class="thumb-wrapper">
											<div class="img-box">
												<img class="img-responsive kc" src="{{url_for('static', filename='ree4.PNG')}}">
											</div>
											<div class="thumb-content" align="center">
												<h4>PUMA man's suade sneaker <br><small>Size[9] - 1 item left</small> </h4>
												<p class="item-price"><strike>R1900.00</strike> <span>R700.00</span></p>
												<div class="star-rating">
													<ul class="list-inline">
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
													</ul>
												</div>
												<button type="button" class="btn btn-primary btn-rounded" id="btn-buy1" data-bs-toggle="collapse" data-bs-target="#myCollapseE"><i class="bi-credit-card fa-lg"></i>&ensp;BUY</button>

																	 <div class="collapse" id="myCollapseE">

																						<div class="card">
																							<div class="card card-body" style="font-family: Maven Pro;">
																								<div class="media">
																								<div class="media-body">
																										<h5 class="mt-0">&ensp; &ensp; <b>SEND UNSTAR A MESSGE</b></h5>
																										<hr>
																										<br>

																										<form name ="herForm" action="/Sassy" method="post">

																												  <label for="fname">Name:</label>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="fname" name="fname" size="18"><br><br>

																												  <label for="Cnum">Cell number:</label>&ensp;
																												  <input type="text" id="Cnum" name="Cnum" size="18"><br><br>

																												  <label for="Cloc">Location:</label>&ensp;&ensp;&ensp;&ensp;
																												  <input type="text" id="Cloc" name="Cloc" size="18"><br><br>

																												  <label for="Fmsg">Message:</label>&ensp;&ensp;&ensp;&ensp;
																												  <textarea id="myChat" rows="4" cols="17" name="Fmsg" placeholder="I want to hire the fridge, please call me back">I want to buy the PUMA sneaker, please call me back</textarea><br><br>
																												  <textarea hidden="hidden" id="MsgOwn" rows="1" cols="1" name="MsgOwner">5</textarea><br>
																												  <button type="button" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModalD"><i class="bi-chat-text"></i>&ensp;Send Message</button>


																												  <!-- Below is that AWESOME modal-->

																															<div class="modal fade in" id="myModalD" tabindex="-1">
																																  <div class="modal-dialog modal-confirm">
																																	   <div class="modal-content">
																																			<div class="modal-header">
																																				  <div class="icon-box">
																																					   <i class="material-icons">&#xE876;</i>
																																				  </div>
																																				  <h4 class="modal-title w-100">Enkosi!</h4>
																																			</div>
																																			<div class="modal-body">
																																				 <p class="text-center">Your message has been sent to <br>UNSTAR WEAR.</p>
																																			</div>
																																			<div class="modal-footer">
																																				<input name="addMsg" type="submit" class="btn btn-secondary btn-block" data-toggle="modal" data-target="#myModal" value="Expect a reply on your cell asap, OK">
																																			</div>
																																	   </div>
																																  </div>
																															</div>
																										</form>

																									</div>
																							  </div>
																							</div>
																						</div>

																	 </div>

											</div>
										</div>
										<hr>


									</div>
									<!--</div>-->
						             <!-- end of 4th Item --->

								</div>
							<!--</div>   end of the Row that contains all 4 items      -->


					</div>
				</div>
		<!--</div>-->


              <h5>{{n}}</h5>

			<footer>
	            <br>
	            <hr hidden="hidden">

                    	<div class="dead-end-scwenga" align="center"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-sign-dead-end" viewBox="0 0 16 16">
                             <path d="M4.783 6v2h.69c.593 0 .886-.359.886-1.002S6.07 6 5.473 6h-.69Zm.333.28h.32c.395 0 .582.24.582.722 0 .48-.186.718-.581.718h-.321V6.28ZM7.82 7.72h-.918v-.602h.863V6.85h-.863v-.57h.917V6H6.571v2H7.82v-.28Zm.573-.274L8.216 8h-.34l.688-2h.371l.689 2h-.352l-.177-.554h-.702Zm.627-.255-.268-.845h-.015l-.27.845h.553ZM9.746 6v2h.69c.593 0 .886-.359.886-1.002S11.032 6 10.436 6h-.69Zm.333.28h.32c.394 0 .582.24.582.722 0 .48-.186.718-.582.718h-.32V6.28Zm-4.173 4.44h.917V11H5.575V9h1.248v.28h-.917v.57h.863v.268h-.863v.602Zm1.489.28V9.56h.013L8.344 11h.292V9h-.32v1.436h-.014L7.369 9h-.293v2h.319Zm1.56 0V9h.69c.596 0 .886.355.886.998S10.238 11 9.645 11h-.69Zm.653-1.72h-.32v1.44h.32c.395 0 .581-.239.581-.718 0-.481-.187-.722-.581-.722Z"/>
                             <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435Zm-1.4.7a.495.495 0 0 1 .7 0l6.516 6.515a.495.495 0 0 1 0 .7L8.35 14.866a.495.495 0 0 1-.7 0L1.134 8.35a.495.495 0 0 1 0-.7L7.65 1.134Z"/>
	                         </svg>
						</div>

                <hr>
                <p align="center"><small><b><i class="fa fa-copyright"></i>2023 Yekee.</b>  All rights reserved. <b> Version: 1.0.0</b></small></p>

                <br>
                <br>
                <!-- <small>Use of this site constitutes acceptance of it's terms & conditions and privacy policy</small><br>-->

                <!-- <button id="scrollToTopBtn">☝️</button>-->

            </footer>



    <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- JS files: jQuery first, then Bootstrap JS -->
 <!--   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>-->

</body>
</html>